.btn-custom { background-color: #ed502e !important;}
.color-custom{
     color: #0b2341 !important;
}
.dropdown-c:hover .dropdown-menu-c{
    display: block;
    margin-top: 0;
}
/* animation */
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    transition: opacity 1s ease-in-out;
}
